
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav  me-auto ml-auto text-center">
      <a class="nav-link nav-a" href="/admin">Home</a>
      <a class="nav-link nav-a" href="/admin/projects">Projects</a>
      <a class="nav-link nav-a active" href="/admin/about">About</a>
      <a class="nav-link nav-a" href="/admin/media">Media</a>
      <a class="nav-link nav-a" href="/admin/blog">Blog</a>
      <a class="nav-link nav-a" href="/admin/contact">Contact</a>
    </div>
  </div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 180px;"></div>
<div class="main-about">
    <div class="about">
        <div class="about-para">
            <!-- <p>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
                <br><br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
                <br><br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
            </p> -->
            <textarea name="" id="" cols="70" rows="20"></textarea>
        </div>
        <div class="about-img">
            <img src="/images/spam/8.jpg" alt="">
        </div>
        <div>
            <button type="button" class="btn btn-secondary contact-button pl-5 pr-5 float-right m-3 mr-5">DONE</button>
        </div>
        <div class="input-group m-2 pt-2 pr-5">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="">Upload</span>
            </div>
          </div>
        <div class="about-para-hidden">
            <p>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
                <br><br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
                <br><br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
            </p>
        </div>
    </div>
</div>
<%- include ('partials/a-footer.ejs') %>  