
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav  me-auto ml-auto text-center">
      <a class="nav-link nav-a" href="/admin">Home</a>
      <a class="nav-link nav-a" href="/admin/projects">Projects</a>
      <a class="nav-link nav-a" href="/admin/about">About</a>
      <a class="nav-link nav-a" href="/admin/media">Media</a>
      <a class="nav-link nav-a active" href="/admin/blog">Blog</a>
      <a class="nav-link nav-a" href="/admin/contact">Contact</a>
    </div>
  </div>
</div>
</nav>
</div>
</div>
</header>
    <div class="blank" style="height: 129px;"></div>
    <div class="blog-landing-img">
        <img src="/images/spam/10.png" alt="">
    </div>
    <div class="input-group m-2 pl-5 pr-5">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02">
          <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="">Upload</span>
        </div>
      </div>
    <div class="blog-landing-main">
        <div>
            <p class="bl-blog-heading">
                <input type="text" placeholder="Heading">
                <font class="bl-blog-date"><input type="text" placeholder="Date"></font>
                
                <!-- Heading Goes here.<br><font class="blog-date">6th September 2022 <br><br></font> -->
            </p>
        </div>
        <div>
            <textarea name="" id="" cols="150" rows="50" placeholder="Paragraph"></textarea>
            <!-- <p class="bl-blog-para">
                
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.<br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.<br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.<br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
                <br><br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.<br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
                <br><br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.<br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.<br>
            </p> -->
        </div>
        <div class="back-to-blogs">
            <a href="/admin/blog">Back to blogs</a>
        </div>
    </div>

<%- include ('partials/a-footer.ejs') %>  