
<%- include ('partials/a-header.ejs') %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav  me-auto ml-auto text-center">
            <a class="nav-link nav-a active" href="/admin">Home</a>
            <a class="nav-link nav-a" href="/edit-projects">Projects</a>
            <a class="nav-link nav-a" href="/edit-about">About</a>
            <a class="nav-link nav-a" href="/edit-media">Media</a>
            <a class="nav-link nav-a" href="/edit-blog">Blog</a>
            <a class="nav-link nav-a" href="/edit-contact">Contact</a>
        </div>
    </div>
    </div>
    </nav>
    </div>
    </div>
    </header>
    <div class="blank" style="height: 129px;"></div>
    <section class="home-page">
    <section id="section-1">
        <div>
            <img class="img-1" src="images/spam/1.jpg" alt="">
            <div class="add-button-div mr-3 pt-2 pl-5 pr-5">
                <a href=""><button type="button" class="btn btn-secondary pl-5 pr-5">CHANGE IMAGE</button></a>
            </div>
        </div>
    </section>
    <section id="section-2">
        <div id="section2-1">
            <img id="img-2" src="Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
            <div id="hidden-2">
                <div class="img-home-hover"><font>RAKESH RESIDENCE</font><br>RESIDENTIAL</div>
                <a href=""><button type="button">VIEW PROJECT</button></a>
            </div>
        </div>
        <div class="add-button-div pt-2">
            <a href=""><button type="button" class="btn btn-secondary pl-5 pr-5">EDIT</button></a>
        </div>
        <div id="section2-2">
            <div id="div-img-3">
                <img id="img-3" src="images/spam/2.jpg" alt="">
                <div id="hidden-3">
                    <div class="img-home-hover"><font>RAKESH RESIDENCE</font><br>RESIDENTIAL</div>
                    <a href=""><button type="button">VIEW PROJECT</button></a>
                </div>
            </div>
            <div id="section2-2-1">
                <div id="para-1-div">
                    <p id="para-1">We are an interdisciplinary <font style="color: #280095;">team that aspires to craft spaces that address</font> the emerging future of work, leisure and living, and the manner in which we build.</p>
                </div>
                <div id="div-img-4">
                    <img id="img-4" src="images/spam/3.jpg" alt="">
                    <div id="hidden-4">
                        <div class="img-home-hover"><font>RAKESH RESIDENCE</font><br>RESIDENTIAL</div>
                        <a href=""><button type="button">VIEW PROJECT</button></a>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="add-button-div pt-2">
                <a href=""><button type="button" class="btn btn-secondary pl-5 pr-5">EDIT</button></a>
            </div>
        </div>
        
        <div id="div-img-5">
            <img id="img-5" src="Projects/RESIDENCE AT PALAKKAD/R.105.22_2 copy copy.jpg" alt="">
            <div id="hidden-5">
                <div class="img-home-hover"><font>RAKESH RESIDENCE</font><br>RESIDENTIAL</div>
                <a href=""><button type="button">VIEW PROJECT</button></a>
            </div>
            <div class="add-button-div pt-2">
                <a href=""><button type="button" class="btn btn-secondary pl-5 pr-5">EDIT</button></a>
            </div>
        </div>
        
        <div>
            <p id="para-2">We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in <font style="color: #280095;">which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging</font> future of work, leisure and living, and the manner in which we build.</p>
            
        </div>
        
        <div id="section2-3">
            <div id="div-img-6">
                <img id="img-6" src="images/spam/4.jpg" alt="">
                <div id="hidden-6">
                    <div class="img-home-hover"><font>RAKESH RESIDENCE</font><br>RESIDENTIAL</div>
                    <a href=""><button type="button">VIEW PROJECT</button></a>
                </div>
            </div>
            <div id="section2-3-1">
                <div id="div-img-7">
                    <img id="img-7" src="images/spam/5.jpg" alt="">
                    <div id="hidden-7">
                        <div class="img-home-hover"><font>RAKESH RESIDENCE</font><br>RESIDENTIAL</div>
                        <a href=""><button type="button">VIEW PROJECT</button></a>
                    </div>
                </div>
                <div id="div-img-8">
                    <img id="img-8" src="images/spam/6.jpg" alt="">
                    <div id="hidden-8">
                        <div class="img-home-hover"><font>RAKESH RESIDENCE</font><br>RESIDENTIAL</div>
                        <a href=""><button type="button">VIEW PROJECT</button></a>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="add-button-div pt-2 pl-5 mt-2">
                <a href=""><button type="button" class="btn btn-secondary pl-5 pr-5">EDIT</button></a>
            </div>
        </div>
        <div id="section2-4">
            <img id="img-9" src="Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
            <div id="hidden-9">
                <div class="img-home-hover"><font>RAKESH RESIDENCE</font><br>RESIDENTIAL</div>
                <a href=""><button type="button">VIEW PROJECT</button></a>
            </div>
            <div class="add-button-div pt-2 pl-5 mt-2">
                <a href=""><button type="button" class="btn btn-secondary pl-5 pr-5">EDIT</button></a>
            </div>
        </div>
    </section>
</section>
    <%- include ('partials/a-footer.ejs') %>  