<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/logo/icon.png">
  <link rel="stylesheet" href="/admin-css/a-login.css">
  <title>MOA</title>
</head>

<body>
  <div>
    <img id="nav-img-1" class="nav-img" alt="logo.png" src="/logo/logo-nav.jpg" height="80px">
  </div>
  <div class="container">
    <div class="card"></div>
    <div class="card">
      <h1 class="title">Login</h1>
      <form action="/admin" method="post" autocomplete="off">
        <div class="input-container">
          <input type="#{type}" id="#{label}" name="username" required="required" />
          <label for="#{label}">Username</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input type="#{type}" id="#{label}" name="password" required="required" />
          <label for="#{label}">Password</label>
          <div class="bar"></div>
        </div>
        <div class="button-container">
          <button type="submit"><span>Go</span></button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>