
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/admin">Home</a>
    <a class="nav-link nav-a" href="/edit-project">Projects</a>
    <a class="nav-link nav-a" href="/edit-about">About</a>
    <a class="nav-link nav-a active" href="/edit-media">Media</a>
    <a class="nav-link nav-a" href="/edit-blog">Blog</a>
    <a class="nav-link nav-a" href="/edit-contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="container">

  <div class="blank" style="height: 129px;"></div>

  <h2 class="mb-5">Add Category</h2>

  <form action="/add-project-category" method="post">
    <div>
      <input type="text" name="name" class="mt-4" placeholder="Category" required>
    </div>
    <div class=" text-left mt-4">
      <a href=""><button type="submit" class="btn btn-secondary pl-5 pr-5">Submit</button></a>
    </div>
  </form>
</div>

<%- include ('partials/a-footer.ejs') %>