<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin-css/a-main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Project-landing</title>
    <link rel="icon" type="image/x-icon" href="/logo/icon.png">
</head>
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav  me-auto ml-auto text-center">
      <a class="nav-link nav-a" href="/admin">Home</a>
      <a class="nav-link nav-a active" href="/admin/projects">Projects</a>
      <a class="nav-link nav-a" href="/admin/about">About</a>
      <a class="nav-link nav-a" href="/admin/media">Media</a>
      <a class="nav-link nav-a" href="/admin/blog">Blog</a>
      <a class="nav-link nav-a" href="/admin/contact">Contact</a>
    </div>
  </div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>



<section id="pl-section-1">
    <div>
        <img class="img-1" src="/images/spam/1.jpg" alt="">
    </div>
    <div class="add-button-div pt-2 pl-5 pr-5 mt-2">
        <a href=""><button type="button" class="btn btn-secondary pl-5 pr-5">CHANGE IMAGE</button></a>
    </div>
</section>
<section id="pl-section-2">
    <secton id="pl-section2-0">
        <div id="pl-proj">
            <!-- <p class="p-head">Project Name</p>
            <p class="p-date-loc">Location<br>2020 - Ongoing</p> -->
            <div>
                <input id="pl-projname" type="text"placeholder="Project Name" name="" id="">
                <input id="pl-projloc" type="text"placeholder="Location" name="" id="">
                <input id="pl-projloc" type="text"placeholder="Period" name="" id="">
            </div>
        </div>
        <div class="p-landingp">
            <!-- <p>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.<br><br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.<br><br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
            </p> -->
            <textarea name="" id="" cols="80" rows="20"></textarea>
        </div>
    </secton>
    <div class="add-button-div pt-2 pl-5 mt-2">
        <a href=""><button type="button" class="btn btn-secondary pl-5 pr-5">ADD SECTION</button></a>
    </div>
    <div id="pl-section2-1">
        <img id="pl-img-2" src="Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
    </div>
    <div id="pl-section2-3">
        <div id="pl-div-img-6">
            <img id="pl-img-6" src="/images/spam/4.jpg" alt="">
        </div>
        <div id="pl-section2-3-1">
            <div>
                <img id="pl-img-7" src="/images/spam/5.jpg" alt="">
            </div>
            <div>
                <img id="pl-img-8" src="/images/spam/6.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="pl-section2-4">
        <img id="pl-img-9" src="/Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
    </div>
    <div class="pl-section2-4">
        <img id="pl-img-9" src="/Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
    </div>
    </div>
</section>
<div class="back-to-projects">
    <a href="/admin/projects">Back to projects</a>
</div>





<%- include ('partials/a-footer.ejs') %>  