<div class="blog">
    <div class="blog-img">
        <img src="images/spam/9.jpg" alt="">
    </div>
    <div>
        <p class="blog-heading">
            Heading Goes here. <br>
        <font class="blog-date">
            6th September 2022 <br>
        </font></p>
        <p class="blog-para">
            We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
            <br>
            We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
            <br>
        </p>
        <a href="/blog-landing"><button type="submit">READ MORE</button></a>
    </div>
</div>       