<section id="footer">
    <hr>
    <div id="footer-div">
        <div>
            <p id="copyright">Copyright © 2022 Monastery of Architecture</p>
        </div>
        <div id="logo-div">
            <div><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></div>
            <div><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></div>
            <div><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></div>
        </div>
    </div>
</section>
</body>
</html>