<body>
    <section id="header">
        <div class="inside-header">
            <div>
                <img class="logo" src="/logo/logo-header.jpg" alt="logo.png">
            </div>
            <div class="anchor">
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="/about">About</a>
                <a href="/media">Media</a>
                <a href="/blog">Blog</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </section>