<div class="media-temp">
    <img src="images/spam/7.jpg" alt="">
    <div class="media-logo">
        <img src="/logo/logo-nav.jpg" alt="">
    </div>
    <p>
        We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. leisure and living, anhich we build.leisure and living, and the manner in which we build.
        <br><font style="font-weight: lighter; font-size: 80%;">[18th January 2022]</font>
    </p>
</div>