<div>
    <div>
        <a href="/project-landing"><img src="/images/spam/7.jpg" alt=""></a>
    </div>
    <div class="proj-imgtitle1">
        <div class="proj-t1">
            <p>Kovoor<br>Residence</p>
        </div>
        <div class="proj-t2">
            <p>Kovoor,<br>India</p>
        </div>
    </div>
    <div class="proj-imgtitle2">
        <div class="proj-t1">
            <p>Kovoor Residence</p>
        </div>
        <div class="proj-t2">
            <p>Kovoor, India</p>
        </div>
    </div>
</div>