<%- include ('partials/header.ejs') %>
<div style="height: 180px;"></div>
<div class="about">
    <div class="about-para">
        <p>
            We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
            <br><br>
            We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
            <br><br>
            We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
        </p>
    </div>
    <div class="about-img">
        <img src="images/spam/8.jpg" alt="">
    </div>
</div>
<%- include ('partials/footer.ejs') %>  