<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Contact</title>
    <link rel="icon" type="image/x-icon" href="/logo/icon.png">
</head>
<%- include ('partials/header.ejs') %>
<div style="height: 129px;"></div>
<div class="contact-main">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3912.9535349210537!2d75.82384921480516!3d11.264825991991204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65bc2a5fbd5a3%3A0x13ce038630221d20!2sMONASTERY%20OF%20ARCHITECTURE!5e0!3m2!1sen!2sin!4v1651389817473!5m2!1sen!2sin" width="1180" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contact">
        <div>
            <div>
                <p class="contact-header">Address</p>
                <p class="contact-para">
                    M10 / 19, MASK MANZIL, KSHB COLONY<br>
                    MALAPARAMBA. CALICUT- 673 009 , KERALA<br>
                    Admin: +91 9562379333, +91 9562379555<br>
                    Ph: 0495-2379385<br>
                    <br>
                    For general queries and project information, please write to us at info@gmailmoa.in
                </p>
            </div>
            <div>
                <p class="contact-header">Internship</p>
                <p class="contact-para">
                    We value welcoming young creativity to our workspace <br>
                    <br>
                    Mail Your Resume to info@architects.in
                </p>
                <button>APPLY NOW</button>
            </div>
            <div>
                <p class="contact-header">Career</p>
                <p class="contact-para">
                    We look forward to your skilled talent and committed passion<br>
                    <br>
                    Mail Your Resume to info@architects.in<br>
                </p>
                <button>APPLY NOW</button>
            </div>
        </div>
        <div>
            <p class="contact-header">Send us a message</p>
            <form>
                <input type="text" name="Name" id="" placeholder="Name">
                <input type="text" name="Phone" id="" placeholder="Phone">
                <input type="email" name="Email" id="" placeholder="Email">
                <textarea name="Message" id="" cols="auto" rows="13" placeholder="Message"></textarea>
                <button>SEND</button>
            </form>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>  