<%- include ('partials/header.ejs') %>

    <section id="section-1">
        <div>
            <img class="img-1" src="images/spam/1.jpg" alt="">
        </div>
    </section>
    <section id="section-2">
        <div id="section2-1">
            <img id="img-2" src="Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
            <div class="hidden-2">
                <div style="color: white;"><font style="font-weight: bold; color: white;">RAKESH<br>RESIDENCE</font><br>RESIDENTIAL</div>
                <button type="button">VIEW PROJECT</button>
            </div>
        </div>
        <div id="section2-2">
            <div id="div-img-3">
                <img id="img-3" src="images/spam/2.jpg" alt="">
                <div class="hidden-3">
                    <div style="color: white;"><font style="font-weight: bold; color: white;">RAKESH<br>RESIDENCE</font><br>RESIDENTIAL</div>
                    <button type="button">VIEW PROJECT</button>
                </div>
            </div>
            <div id="section2-2-1">
                <div>
                    <p id="para-1">We are an interdisciplinary <font style="color: #280095;">team that aspires to craft spaces that address</font> the emerging future of work, leisure and living, and the manner in which we build.</p>
                </div>
                <div>
                    <img id="img-4" src="images/spam/3.jpg" alt="">
                    <div class="hidden-4">
                        <div style="color: white;"><font style="font-weight: bold; color: white;">RAKESH<br>RESIDENCE</font><br>RESIDENTIAL</div>
                        <button type="button">VIEW PROJECT</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img id="img-5" src="Projects/RESIDENCE AT PALAKKAD/R.105.22_2 copy copy.jpg" alt="">
            <div class="hidden-5">
                <div style="color: white;"><font style="font-weight: bold; color: white;">RAKESH<br>RESIDENCE</font><br>RESIDENTIAL</div>
                <button type="button">VIEW PROJECT</button>
            </div>
        </div>
        <div>
            <p id="para-2">We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in <font style="color: #280095;">which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging</font> future of work, leisure and living, and the manner in which we build.</p>
        </div>
        <div id="section2-3">
            <div id="div-img-6">
                <img id="img-6" src="images/spam/4.jpg" alt="">
                <div class="hidden-6">
                    <div style="color: white;"><font style="font-weight: bold; color: white;">RAKESH<br>RESIDENCE</font><br>RESIDENTIAL</div>
                    <button type="button">VIEW PROJECT</button>
                </div>
            </div>
            <div id="section2-3-1">
                <div>
                    <img id="img-7" src="images/spam/5.jpg" alt="">
                    <div class="hidden-7">
                        <div style="color: white;"><font style="font-weight: bold; color: white;">RAKESH<br>RESIDENCE</font><br>RESIDENTIAL</div>
                        <button type="button">VIEW PROJECT</button>
                    </div>
                </div>
                <div>
                    <img id="img-8" src="images/spam/6.jpg" alt="">
                    <div class="hidden-8">
                        <div style="color: white;"><font style="font-weight: bold; color: white;">RAKESH<br>RESIDENCE</font><br>RESIDENTIAL</div>
                        <button type="button">VIEW PROJECT</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="section2-4">
            <img id="img-9" src="Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
            <div class="hidden-9">
                <div style="color: white;"><font style="font-weight: bold; color: white;">RAKESH<br>RESIDENCE</font><br>RESIDENTIAL</div>
                <button type="button">VIEW PROJECT</button>
            </div>
        </div>
    </section>
    <%- include ('partials/footer.ejs') %>  