
<%- include ('partials/header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav  me-auto ml-auto text-center">
      <a class="nav-link nav-a" href="/">Home</a>
      <a class="nav-link nav-a active" href="/projects">Projects</a>
      <a class="nav-link nav-a" href="/about">About</a>
      <a class="nav-link nav-a" href="/media">Media</a>
      <a class="nav-link nav-a" href="/blogs">Blog</a>
      <a class="nav-link nav-a" href="/contact">Contact</a>
    </div>
  </div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>



<section id="pl-section-1">
    <div>
        <img class="img-1" src="images/spam/1.jpg" alt="">
    </div>
</section>
<section id="pl-section-2">
    <secton id="pl-section2-0">
        <div>
            <p class="p-head">Project Name</p>
            <p class="p-date-loc">Location<br>2020 - Ongoing</p>
        </div>
        <div class="p-landingp">
            <p>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.<br><br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build. We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.<br><br>
                We are an interdisciplinary team that aspires to craft spaces that address the emerging future of work, leisure and living, and the manner in which we build.
            </p>
        </div>
    </secton>
    <div id="pl-section2-1">
        <img id="pl-img-2" src="Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
    </div>
    <div id="pl-section2-3">
        <div id="pl-div-img-6">
            <img id="pl-img-6" src="images/spam/4.jpg" alt="">
        </div>
        <div id="pl-section2-3-1">
            <div>
                <img id="pl-img-7" src="images/spam/5.jpg" alt="">
            </div>
            <div>
                <img id="pl-img-8" src="images/spam/6.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="pl-section2-4">
        <img id="pl-img-9" src="Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
    </div>
    <div class="pl-section2-4">
        <img id="pl-img-9" src="Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
    </div>
    </div>
</section>
<div class="back-to-projects">
    <a href="/projects">Back to projects</a>
</div>





<%- include ('partials/footer.ejs') %>  