<div class="msg-temp p-2 m-3 border">
    <div class="add-button-div">
        <a href=""><button type="button" class="btn btn-secondary">DELETE</button></a>
    </div>
    <p>Name: <font>name</font></p>
    <p>Phone: <font>123456789</font></p>
    <p>Email: <font>test@gmail.com</font></p>
    <p>Message: <font>blahblahblah</font></p>
    
</div>
