<div>
    <div>
        <a href="/admin/project-landing"><img src="/images/spam/7.jpg" alt=""></a>
    </div>
    <div class="proj-imgtitle">
        <div class="proj-t1">
            <p>Kovoor Residence</p>
        </div>
        <div class="proj-t2">
            <p>Kovoor, India</p>
        </div>
    </div>
    <div class="d-flex float-right mb-5">
        <div class="add-button-div">
            <a href=""></a><button type="button" class="btn btn-secondary pl-5 pr-5 mr-2">EDIT</button></a>
        </div>
        <div class="add-button-div">
            <a href=""></a><button type="button" class="btn btn-secondary pl-5 pr-5">DELETE</button></a>
        </div>
    </div>
    
</div>